<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
</head>
th:each
<br>
<br>
<div class="container">
    <div class="row">
        <label style="margin-right: 1.5em" for="each"> th:each : </label>
        <table style="color: blue" id="each">
            <tr th:each="car , index : ${carList}">
                <td th:text="${car.getModel}"></td>
                <td th:text="${car.getColor}"></td>
                <td th:text="${car.getYear}"></td>
                <td th:text="${car.getPrice}"></td>
                <td th:text="${index}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>